@import "tailwindcss";

@theme inline {
  --color-surface: #f7f9fb;
  --color-primary: #00355f;
  --color-primary-container: #0f4c81;
  --color-secondary: #006d37;
  --color-secondary-container: #6bfe9c;
  --color-tertiary: #263544;
  --color-background: #f7f9fb;
  --color-on-background: #191c1e;
  
  --font-heading: var(--font-public-sans), sans-serif;
  --font-body: var(--font-lexend), sans-serif;

  --shadow-ambient: 0 4px 20px rgba(15, 76, 129, 0.08);

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
